{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/directory">Back</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
Citizen Information prototypes
  </h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-9">


  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Searchlight</h3>
      <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">View Searchlight get a NINO Agent prototype</a></p>

      </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m"> Residency</h3>
        <p><a href="/v4_0/value.html">View Residency test prototype</a></p>
    </div>
  </div> 

  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m"> Relationships</h3>
        <p><a href="/v4_0/value.html">View Relationships Fit For Life prototype</a></p>
    </div>
  </div> 
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
   
  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">National Insurance Number</h3>
        <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">View Citizen Apply for a NINO prototype</a></p>

      </div>
  </div>

  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Keeping Customer Interactions Safe</h3>
      <p><a href="/v4_0/funds.html">View Keeping Customer Interactions Safe prototype</a></p>

    </div>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
   
  
  

{% endblock %}
