.govuk-grid-column-one-half
 {
    margin-bottom: 30px;
    padding: 15px;
    padding-bottom: 0px;
 }
.blueline
 {
   border-bottom: 
   3px solid #005ea5;
   margin-left: 0px;
   margin-right: 0px;
}
 /* .govuk-grid-column-one-half-blue-bottom
 {
    border-bottom: 
    3px solid #005ea5;
    width: 95%;
    padding-bottom: 0px;
 } */