{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/directory">Back</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
  Retirement prototypes
  </h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-9">

  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Cold Weather Payments</h3>
      <p><a href="/v4_0/funds.html">View Cold Weather Payments prototype</a></p>
     
    </div>
  </div>
  
  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
        <h3 class="govuk-heading-m"> Winter Fuel</h3>
        <p><a href="/v4_0/financial-data.html">View Winter Fuel prototype</a></p>

      </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">State Pension</h3>
        <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">View State Pension New Claims prototype</a></p>

      </div>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
   
<div class="govuk-grid-column-one-third">
  <div class="card-flat-white">
    <h3 class="govuk-heading-m"> Change of Circumstances</h3>
      <p><a href="/v4_0/value.html">View Retirement Change of Circumstances prototype.</a></p>
  </div>
</div> 

<div class="govuk-grid-column-one-third">
  <div class="card-flat-white">
    <h3 class="govuk-heading-m">Pension Credit</h3>
      <p><a href="/v4_0/best-practice.html">View Pension Credit prototype</a></p>
  </div>
</div> 

<div class="govuk-grid-column-one-third">
<div class="card-flat-white">
  <h3 class="govuk-heading-m">Maintaining State Pension and Pension Credit Claims and Records</h3>
    <p><a href="/v4_0/events1.html">View Retirement Maintain prototype</a></p>
  </div>
</div>



{% endblock %}
