{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/directory">Back</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
Identity and Trust prototypes
  </h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-9">

  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Dynamic Trust Hub</h3>
      <p><a href="/v4_0/funds.html">View Dynamic Trust Hub prototype</a></p>
     
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m"> Zero Confidence</h3>
        <p><a href="/v4_0/value.html">View Zero Confidence prototype.</a></p>
    </div>
  </div> 

  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">GOVUK One Login</h3>
        <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">View GOVUK One Login prototype</a></p>

      </div>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
   
  
  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
        <h3 class="govuk-heading-m"> Knowledge Based Verification</h3>
        <p><a href="/v4_0/financial-data.html">View Knowledge Based Verification prototype</a></p>

      </div>
  </div>


<div class="govuk-grid-column-one-third">
  <div class="card-flat-white">
    <h3 class="govuk-heading-m">Cross Channel Credentials</h3>
      <p><a href="/v4_0/best-practice.html">View Cross Channel Credentials prototype</a></p>
  </div>
</div> 





{% endblock %}
