{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/directory">Back</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
Fraud, Error and Debt prototypes
  </h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-9">


  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Compensation Recovery</h3>
      <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">View Compensation Recovery prototype</a></p>

      </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">New Debt System</h3>
        <p><a href="/v4_0/value.html">View New Debt System prototype</a></p>
    </div>
  </div> 

  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m"> Counter Fraud and Error Management</h3>
        <p><a href="/v4_0/value.html">View Counter Fraud and Error Management prototype</a></p>
    </div>
  </div> 
</div>



<div class="govuk-grid-row govuk-!-margin-bottom-9">
   
  
  

{% endblock %}
