{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/directory">Back</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
  Health and Disability prototypes
  </h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-9">

  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Health Assessment service</h3>
      <p><a href="/v4_0/funds.html">Interaction Log prototype</a></p>
      <p><a href="/v4_0/funds.html">Supporting Documents prototype</a></p>
      <p><a href="/v4_0/funds.html">Health Appointments prototype</a></p>
      <p><a href="/v4_0/funds.html">Health Initial Review prototype</a></p>
    </div>
  </div>
  
  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
        <h3 class="govuk-heading-m"> Personal Independant Payment</h3>
        <p><a href="/v4_0/financial-data.html">PIP Agent prototype</a></p>
        <p><a href="/v4_0/financial-data.html">PIP Service Design prototype</a></p>

      </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Access to Work</h3>
        <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">ATW Apply prototype</a></p>
        <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">ATW Apply UR prototype</a></p>
        <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">ATW CIS prototype</a></p>
        <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">ATW Payment Claims prototype</a></p>

      </div>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
   
<div class="govuk-grid-column-one-third">
  <div class="card-flat-white">
    <h3 class="govuk-heading-m"> Report a Terminally Ill Patient</h3>
      <p><a href="/v4_0/value.html">View Report a Terminally Ill Patient DS1500 prototype.</a></p>
  </div>
</div> 

<div class="govuk-grid-column-one-third">
  <div class="card-flat-white">
    <h3 class="govuk-heading-m">Send your fit note</h3>
      <p><a href="/v4_0/best-practice.html">View Send your fit note prototype</a></p>
  </div>
</div> 

<div class="govuk-grid-column-one-third">
<div class="card-flat-white">
  <h3 class="govuk-heading-m">New Style ESA</h3>
    <p><a href="/v4_0/events1.html">View New Style ESA prototype</a></p>
  </div>
</div>



{% endblock %}
