{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/directory">Back</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
Working Age prototypes
  </h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-9">


  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">New style Employment Support Allowance</h3>
      <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">View New style Employment Support Allowance prototype</a></p>

      </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">New style Jobseekers Support Allowance</h3>
        <p><a href="/v4_0/value.html">View New style Jobseekers Support Allowance prototype</a></p>
    </div>
  </div> 

  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m"> Managing Working Age Claimants</h3>
        <p><a href="/v4_0/value.html">View Managing Working Age Claimants prototype</a></p>
    </div>
  </div> 
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
   
  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Support Offers</h3>
        <p><a href="https://www.gov.uk/guidance/academy-trust-handbook" class="govuk-link" rel="noreferrer noopener" target="_blank">View Support Offers prototype</a></p>

      </div>
  </div>


</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
   
  
  

{% endblock %}
