{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  DWP Prototypes – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    DWP Prototypes
  </h1>
  <h2 class="govuk-heading-l"></h2>
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
    <div class="govuk-grid-row govuk-!-margin-bottom-9">
      
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
        <div class="card-flat-white">
          <h3 class="govuk-heading-m">Health and Disability</h3>
          <p>Health Assessment service, Personal Independant Payment, Access to Work, Report a Terminally Ill Patient, Send your fit note and New Style ESA​. </p>
          <p><a href="health/health-home.html">View Health and Disability prototypes</a></p>
        </div>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <div class="card-flat-white">
            <h3 class="govuk-heading-m">Retirement</h3>
            <p>Far Future, Plan your Retirement, State Pension, Pension Credit, Change of Circumstances, Cold Weather Payments and Winter Fuel.</p>      
            <p><a href="retirement/retirement-home.html">View Retirement prototypes</a></p>
          </div>
      </div>
  
      <div class="govuk-grid-column-one-third">
        <div class="card-flat-white">
          <h3 class="govuk-heading-m">Bereavement and Care</h3>
            <p>Attendance Allowance, Carers Allowance, Bereavement Support Payment, Disputes and Common Capabilities.</p>
            <p><a href="bereavement-and-care/bereavement-and-care-home.html" class="govuk-link" rel="noreferrer noopener" target="_blank">View Bereavement and Care prototypes</a></p>
        </div>
      </div>
  
      
    </div>
  
  
  <div class="govuk-grid-row govuk-!-margin-bottom-9">
       
    <div class="govuk-grid-column-one-third">
      <div class="card-flat-white">
        <h3 class="govuk-heading-m">Working Age</h3>
          <p>Appointments, New Style Jobseekers Allowance, New Style Employment and Support Allowance and Support Offers. </p>
          <p><a href="working-age/working-age-home.html">View Working Age prototypes.</a></p>
      </div>
    </div> 
  
    <div class="govuk-grid-column-one-third">
      <div class="card-flat-white">
        <h3 class="govuk-heading-m">Childrens</h3>
          <p>Child Maintenance Options/Apply, My Child Maintenance Case, Simplifying Employer Deductions and Maternity Allowance.</p>
          <p><a href="childrens/childrens-home.html">View Childrens prototypes</a></p>
      </div>
    </div> 
  
    <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Identity and Trust</h3>
        <p>One Login for Gov, Online Identity Verification and Cross Channel Credentials .</p>
        <p><a href="identity-and-trust/idt-home.html">View Identity and Trust prototypes</a></p>
      </div>
  </div>
  

  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-9">
       
    <div class="govuk-grid-column-one-third">
      <div class="card-flat-white">
        <h3 class="govuk-heading-m">Customer Experience</h3>
          <p>Gov.uk Content, Customer Experience Strategy and Experiments. </p>
          <p><a href="customer-experience/customer-experience-home.html">View Customer Experience prototypes.</a></p>
      </div>
    </div> 
  
    <div class="govuk-grid-column-one-third">
      <div class="card-flat-white">
        <h3 class="govuk-heading-m">Fraud Error and Debt</h3>
          <p>Compensation Recovery, New Debt System, FED MI and Counter Fraud and Error Management.</p>
          <p><a href="fraud-error-debt/fraud-error-debt-home.html">View Fraud, Error and Debt prototypes</a></p>
      </div>
    </div> 
  
    <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Digital Channels</h3>
        <p>Customer View, Colleague View, Notifications, Telephony, SRA Apply and Searchlight.</p>
        <p><a href="digital-channels/digital-channels-home.html">View Digital Channels prototypes</a></p>
      </div>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">

  <div class="govuk-grid-column-one-third">
    <div class="card-flat-white">
      <h3 class="govuk-heading-m">Citizen Information</h3>
        <p>Apply for a National Insurance Number, Residency, Keeping Customer Interactions Safe and Relationships</p>
        <p><a href="citizen-information/citizen-information-home.html">View Digital Channels prototypes</a></p>
      </div>
  </div>
  
  
  

{% endblock %}
